body {
	margin: 0px;
	font-family: sans-serif;
}

header {
	padding: 10px;
	font-weight: bold;
	color: white;
	text-shadow: none;
	text-align: center;
	font-size: 2em;
	background-color: black;
}

h2 {
	text-align: center;
}

.content {
	position: relative;
	margin-top: 8pt;
	margin-left: 8pt;
	margin-right: 8pt;
}

button#formAdmin\:btnAddSlot {
	margin-bottom: 8pt;
}

.ui-panelgrid table,.ui-panelgrid tr,.ui-panelgrid td {
	border-style: hidden !important;
}

.ui-accordion-header a {
	text-decoration: none;
}

.verticalAlignTop {
	vertical-align: top;
}