body {
	margin: 0px;
}

header {
	background: #000;
	color: #FFF;
	text-align: center;
	left: 0px;
	right: 0px;
	top: 0px;
	padding: 5px;
}

.content {
	position: relative;
	margin-top: 8pt;
	margin-left: 8pt;
	margin-right: 8pt;
}

.ui-panelgrid table, .ui-panelgrid tr, .ui-panelgrid td {
	border-style: hidden !important;
}